body,html {
    height: 100%; /* Altura al 100% */
    margin: 0; /* margen 0 */
    font-family: Arial, sans-serif; /* Fuente Arial y sans-serif */

}

main {
    height: calc(100% - 126px); /* Altura menos el header y el footer */
}

#gameCanvas {
    border: 2px solid #000; /* Borde del canvas de color negro solido */ 
    max-width: 100%; /* tamaño maximo al 100%*/
    max-height: 100%; 
    cursor: url('img/pala.png'), auto;
}
#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    z-index: 1;
}

#gameOverScreen button {
    margin-top: 10px;
}


#titulo {
    display: flex; /*el contenido se muestra de manera horizontal*/
    align-items:center; 
    justify-content:center;
        }
.logo {
    max-height: 50px; /*tamaño del logo de 50px*/
        }

        
