body,html {
    height: 100%; /* Altura al 100% */
    margin: 0; /* margen 0 */
    font-family: Arial, sans-serif; /* Fuente Arial y sans-serif */

}

main {
    height: calc(100% - 126px); /* Altura menos el header y el footer */
}

#gameCanvas {
    border: 2px solid #000; /* Borde del canvas de color negro solido */ 
    max-width: 100%; /* tamaño maximo al 100%*/
    max-height: 100%; 
}

#titulo {
    display: flex;
    align-items:center;
    justify-content:center;
        }
.logo {
    max-height: 50px; /* Ajusta el tamaño máximo según tus necesidades */
        }
